#### 회귀 모델

In [5]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/grade.csv')

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  10 non-null     int64
 1   name        10 non-null     object
 2   gender      10 non-null     object
 3   midterm     9 non-null      float64
 4   final       9 non-null      float64
 5   assignment  9 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 608.0+ bytes
None

In [7]:
df[df['midterm'] >= 85]

   student_id     name gender  midterm  final  assignment
0           1    Alice      F     85.0   88.0        95.0
2           3  Charlie      M     92.0   94.0        87.0
3           4    David      M     88.0   90.0        85.0
5           6    Frank      M     95.0   97.0        98.0
6           7    Grace      F     89.0   91.0        84.0
7           8   Hannah      F     90.0   92.0         NaN

In [ ]:
# 3
df.sort_values(by=['final'], ascending=False).head()

   student_id     name gender  midterm  final  assignment
5           6    Frank      M     95.0   97.0        98.0
2           3  Charlie      M     92.0   94.0        87.0
7           8   Hannah      F     90.0   92.0         NaN
6           7    Grace      F     89.0   91.0        84.0
3           4    David      M     88.0   90.0        85.0

In [ ]:
#4
df.groupby('gender')[['midterm', 'final']].mean()

        midterm  final
gender
F          85.0   87.5
M          86.0   88.2

In [20]:
# 5

df['student_id'] = df['student_id'].astype('str')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  10 non-null     object
 1   name        10 non-null     object
 2   gender      10 non-null     object
 3   midterm     9 non-null      float64
 4   final       9 non-null      float64
 5   assignment  9 non-null      float64
dtypes: float64(3), object(3)
memory usage: 608.0+ bytes
None

In [25]:
# 6

print(df['assignment'].idxmin(), df['assignment'].idxmax())

print(df.loc[df['assignment'].idxmax()])
print(df.loc[df['assignment'].idxmin()])

4 5
student_id        6
name          Frank
gender            M
midterm        95.0
final          97.0
assignment     98.0
Name: 5, dtype: object
student_id       5
name           Eve
gender           F
midterm       76.0
final         79.0
assignment    77.0
Name: 4, dtype: object

In [28]:
# 7
df['average'] = df[['midterm', 'final', 'assignment']].mean(axis=1)
print(df)

  student_id     name gender  midterm  final  assignment    average
0          1    Alice      F     85.0   88.0        95.0  89.333333
1          2      Bob      M     78.0   74.0        82.0  78.000000
2          3  Charlie      M     92.0   94.0        87.0  91.000000
3          4    David      M     88.0   90.0        85.0  87.666667
4          5      Eve      F     76.0   79.0        77.0  77.333333
5          6    Frank      M     95.0   97.0        98.0  96.666667
6          7    Grace      F     89.0   91.0        84.0  88.000000
7          8   Hannah      F     90.0   92.0         NaN  91.000000
8          9     Ivan      M     77.0    NaN        81.0  79.000000
9         10     Jack      M      NaN   86.0        88.0  87.000000

In [31]:
# 8

# 결측치 확인
df.isna().sum()
# 결측치 있는 행 제거
df_cleaned = df.dropna()
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  7 non-null      object
 1   name        7 non-null      object
 2   gender      7 non-null      object
 3   midterm     7 non-null      float64
 4   final       7 non-null      float64
 5   assignment  7 non-null      float64
 6   average     7 non-null      float64
dtypes: float64(4), object(3)
memory usage: 448.0+ bytes
None

In [33]:
# 9 

additional_data = {
    'student_id': ['1', '3', '5', '7', '9'],
    'club': ['Art', 'Science', 'Math', 'Music', 'Drama']
}
df_additional = pd.DataFrame(additional_data)

# 병합
merged_df = pd.merge(df, df_additional, on='student_id', how='left')

print(merged_df)

  student_id     name gender  midterm  final  assignment    average     club
0          1    Alice      F     85.0   88.0        95.0  89.333333      Art
1          2      Bob      M     78.0   74.0        82.0  78.000000      NaN
2          3  Charlie      M     92.0   94.0        87.0  91.000000  Science
3          4    David      M     88.0   90.0        85.0  87.666667      NaN
4          5      Eve      F     76.0   79.0        77.0  77.333333     Math
5          6    Frank      M     95.0   97.0        98.0  96.666667      NaN
6          7    Grace      F     89.0   91.0        84.0  88.000000    Music
7          8   Hannah      F     90.0   92.0         NaN  91.000000      NaN
8          9     Ivan      M     77.0    NaN        81.0  79.000000    Drama
9         10     Jack      M      NaN   86.0        88.0  87.000000      NaN

In [35]:
# 10

pivot_table = df.pivot_table(values='average', index='gender', columns='student_id')
display(pivot_table)

student_id,1,10,2,3,4,5,6,7,8,9
gender,,,,,,,,,,
F,89.333333,NaN,NaN,NaN,NaN,77.333333,NaN,88.0,91.0,NaN
M,NaN,87.0,78.0,91.0,87.666667,NaN,96.666667,NaN,NaN,79.0

In [ ]:
# 11
df['average'] = df[['midterm', 'final', 'assignment']].mean(axis=1)

melted_df = pd.melt(df, id_vars = ['student_id', 'name', 'gender'], value_vars = ['assignment', 'average', 'final', 'midterm'], var_name = 'variable', value_name = 'score')

grouped_mean = melted_df.groupby(['gender', 'variable'])['score'].mean().reset_index()
print(grouped_mean)

  gender    variable      score
0      F  assignment  85.333333
1      F     average  86.416667
2      F       final  87.500000
3      F     midterm  85.000000
4      M  assignment  86.833333
5      M     average  86.555556
6      M       final  88.200000
7      M     midterm  86.000000

In [43]:
# 12

max_average_df = df['average'].idxmax()

df.loc[max_average_df][['name', 'average']]

name           Frank
average    96.666667
Name: 5, dtype: object

In [67]:
# 데이터 로드

import pandas as pd
import numpy as np
train = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/st_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/st_test.csv')

In [68]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    256 non-null    object
 1   sex       256 non-null    object
 2   paid      256 non-null    object
 3   famrel    256 non-null    int64
 4   freetime  256 non-null    int64
 5   goout     252 non-null    float64
 6   Dalc      256 non-null    int64
 7   Walc      256 non-null    int64
 8   health    256 non-null    int64
 9   absences  256 non-null    int64
 10  grade     256 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 22.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    110 non-null    object
 1   sex       110 non-null    object
 2   paid      110 non-null    object
 3   famrel    110 non-null    int64
 4   freetime  110 non-null    int64
 5   goout     104 non-null    float64
 6   Dalc      110 non-null    int64
 7   Walc      110 non-null    int64
 8   health    110 non-null    int64
 9   absences  110 non-null    int64
 10  grade     110 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 9.6+ KB

In [69]:
# 데이터 분할
train_X = train.drop(['grade'], axis = 1)
train_y = train['grade']

test_X = test.drop(['grade'], axis = 1)
test_y = train['grade']

from sklearn.model_selection import train_test_split

train_X, valid_X, train_y, valid_y = train_test_split(train_X, train_y, test_size=0.3, random_state= 1)
print(train_X.shape, train_y.shape, valid_X.shape, valid_y.shape)

(179, 10) (179,) (77, 10) (77,)

In [70]:
# 데이터 전처리
cat_columns = train_X.select_dtypes('object').columns.to_list()
num_columns = train_X.select_dtypes('number').columns.to_list()

# 원-핫 인코딩과 평균 대치법을 위한 메서드 불러오기
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

onehotencoder = OneHotEncoder(sparse_output = False, handle_unknown = 'ignore')
imputer = SimpleImputer(strategy='mean')

In [74]:
train_X_numeric_imputed = imputer.fit_transform(train_X[num_columns])
valid_X_numeric_imputed = imputer.transform(valid_X[num_columns])
test_X_numeric_imputed = imputer.transform(test_X[num_columns])

train_X_categorical_encoded = onehotencoder.fit_transform(train_X[cat_columns])
valid_X_categorical_encoded = onehotencoder.transform(valid_X[cat_columns])
test_X_categorical_encoded = onehotencoder.transform(test_X[cat_columns])

train_X_preprocessed = np.concatenate([train_X_numeric_imputed, train_X_categorical_encoded], axis=1)
valid_X_preprocessed = np.concatenate([valid_X_numeric_imputed, valid_X_categorical_encoded], axis=1)
test_X_preprocessed = np.concatenate([test_X_numeric_imputed, test_X_categorical_encoded], axis=1)

In [80]:
# 모델 적합

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=1)
rf.fit(train_X_preprocessed, train_y)

RandomForestRegressor(random_state=1)

In [81]:
from sklearn.metrics import mean_squared_error

pred_val = rf.predict(valid_X_preprocessed)
print(mean_squared_error(valid_y, pred_val, squared=False))

3.2503522286653195

In [82]:
# 테스트 데이터 예측

test_pred = rf.predict(test_X_preprocessed)
test_pred = pd.DataFrame(test_pred, columns=['pred'])
test_pred.to_csv('result.csv', index=False)

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [83]:
# k-폴드

train_X_full = np.concatenate([train_X_preprocessed, valid_X_preprocessed], axis=0)
train_y_full = np.concatenate([train_y, valid_y], axis=0)

In [86]:
# GridSearchCV
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [10, 20, 30],
'min_samples_split': [2,5,10]}

rf= RandomForestRegressor(random_state = 1)
rf_search = GridSearchCV(estimator = rf,
param_grid = param_grid,
cv=3,
scoring = 'neg_root_mean_squared_error')

rf_search.fit(train_X_full, train_y_full)

print(-rf_search.best_score_)

2.9513729164658664

In [87]:
# 테스트 데이터 
test_pred2 = rf_search.predict(test_X_preprocessed)
test_pred2 = pd.DataFrame(test_pred2, columns=['pred'])
test_pred2.to_csv('result.csv', index=False)

#### 분류 모델

In [88]:
# 데이터 로드
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

X = data.data
y = data.target

df = pd.DataFrame(X, columns = data.feature_names)
df['target'] = y

print(df.head())

   mean radius  mean texture  mean perimeter  mean area  mean smoothness  \
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030

   mean compactness  mean concavity  mean concave points  mean symmetry  \
0           0.27760          0.3001              0.14710         0.2419
1           0.07864          0.0869              0.07017         0.1812
2           0.15990          0.1974              0.12790         0.2069
3           0.28390          0.2414              0.10520         0.2597
4           0.13280          0.1980              0.10430         0.1809

   mean fractal dimension  ...  worst texture  worst perimeter  worst area  \
0                 0.07871  ...          17.33           184.60      2019.0
1                 0.05667  ...          23.41           158.80      1956.0
2                 0.05999  ...          25.53           152.50      1709.0
3                 0.09744  ...          26.50            98.87       567.7
4                 0.05883  ...          16.67           152.20      1575.0

   worst smoothness  worst compactness  worst concavity  worst concave points  \
0            0.1622             0.6656           0.7119                0.2654
1            0.1238             0.1866           0.2416                0.1860
2            0.1444             0.4245           0.4504                0.2430
3            0.2098             0.8663           0.6869                0.2575
4            0.1374             0.2050           0.4000                0.1625

   worst symmetry  worst fractal dimension  target
0          0.4601                  0.11890       0
1          0.2750                  0.08902       0
2          0.3613                  0.08758       0
3          0.6638                  0.17300       0
4          0.2364                  0.07678       0

[5 rows x 31 columns]

In [89]:
# 훈련 테스트 분할

from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(df.drop(columns = 'target'), df['target'], test_size=0.3, random_state=42)

In [92]:
# 결측치 확인
display(train_X.info())
display(test_X.info())

<class 'pandas.core.frame.DataFrame'>
Index: 398 entries, 149 to 102
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              398 non-null    float64
 1   mean texture             398 non-null    float64
 2   mean perimeter           398 non-null    float64
 3   mean area                398 non-null    float64
 4   mean smoothness          398 non-null    float64
 5   mean compactness         398 non-null    float64
 6   mean concavity           398 non-null    float64
 7   mean concave points      398 non-null    float64
 8   mean symmetry            398 non-null    float64
 9   mean fractal dimension   398 non-null    float64
 10  radius error             398 non-null    float64
 11  texture error            398 non-null    float64
 12  perimeter error          398 non-null    float64
 13  area error               398 non-null    float64
 14  smoothness error         398 non-null    float64
 15  compactness error        398 non-null    float64
 16  concavity error          398 non-null    float64
 17  concave points error     398 non-null    float64
 18  symmetry error           398 non-null    float64
 19  fractal dimension error  398 non-null    float64
 20  worst radius             398 non-null    float64
 21  worst texture            398 non-null    float64
 22  worst perimeter          398 non-null    float64
 23  worst area               398 non-null    float64
 24  worst smoothness         398 non-null    float64
 25  worst compactness        398 non-null    float64
 26  worst concavity          398 non-null    float64
 27  worst concave points     398 non-null    float64
 28  worst symmetry           398 non-null    float64
 29  worst fractal dimension  398 non-null    float64
dtypes: float64(30)
memory usage: 96.4 KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 171 entries, 204 to 247
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean radius              171 non-null    float64
 1   mean texture             171 non-null    float64
 2   mean perimeter           171 non-null    float64
 3   mean area                171 non-null    float64
 4   mean smoothness          171 non-null    float64
 5   mean compactness         171 non-null    float64
 6   mean concavity           171 non-null    float64
 7   mean concave points      171 non-null    float64
 8   mean symmetry            171 non-null    float64
 9   mean fractal dimension   171 non-null    float64
 10  radius error             171 non-null    float64
 11  texture error            171 non-null    float64
 12  perimeter error          171 non-null    float64
 13  area error               171 non-null    float64
 14  smoothness error         171 non-null    float64
 15  compactness error        171 non-null    float64
 16  concavity error          171 non-null    float64
 17  concave points error     171 non-null    float64
 18  symmetry error           171 non-null    float64
 19  fractal dimension error  171 non-null    float64
 20  worst radius             171 non-null    float64
 21  worst texture            171 non-null    float64
 22  worst perimeter          171 non-null    float64
 23  worst area               171 non-null    float64
 24  worst smoothness         171 non-null    float64
 25  worst compactness        171 non-null    float64
 26  worst concavity          171 non-null    float64
 27  worst concave points     171 non-null    float64
 28  worst symmetry           171 non-null    float64
 29  worst fractal dimension  171 non-null    float64
dtypes: float64(30)
memory usage: 41.4 KB

None

In [94]:
# 데이터 분할 (훈련 데이터 일부 검증 데이터로)
from sklearn.model_selection import train_test_split

train_X, valid_X, train_y, valid_y = train_test_split(train_X, train_y, test_size= 0.3, random_state = 1)
print(train_X.shape, valid_y.shape)

(278, 30) (120,)

In [97]:
# 데이터 전처리

cat_columns = train_X.select_dtypes('object').columns.to_list()
num_columns = train_X.select_dtypes('number').columns.to_list()

# 원 핫 인코딩
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(sparse = False, handle_unknown= 'ignore')

# 전처리

# 범주형
train_X_categorical_encoded = onehotencoder.fit_transform(train_X[cat_columns])
valid_X_categorical_encoded = onehotencoder.transform(valid_X[cat_columns])
test_X_categorical_encoded = onehotencoder.transform(test_X[cat_columns])

train_X_preprocessed = np.concatenate([train_X[num_columns], train_X_categorical_encoded], axis= 1)
valid_X_preprocessed = np.concatenate([valid_X[num_columns], valid_X_categorical_encoded], axis= 1)
test_X_preprocessed = np.concatenate([test_X[num_columns], test_X_categorical_encoded], axis= 1)

/opt/homebrew/Caskroom/miniforge/base/envs/tf/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [98]:
# 모델 적합

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 1)
rf.fit(train_X_preprocessed, train_y)

RandomForestClassifier(random_state=1)

In [99]:
from sklearn.metrics import f1_score

pred_val = rf.predict(valid_X)
f1_score(valid_y, pred_val, average='macro')

/opt/homebrew/Caskroom/miniforge/base/envs/tf/lib/python3.8/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

0.9475371611774992

In [100]:
# 테스트 데이터로 예측
test_pred = rf.predict(test_X_preprocessed)
test_pred = pd.DataFrame(test_pred, columns=['pred'])

In [101]:
test_pred.to_csv('result.csv', index=False)

In [ ]:
# k-fold를 위해 원 데이터 복구

train_X_full = np.concatenate([train_X_preprocessed, valid_X_preprocessed], axis=0)
train_y_full = np.concatenate([train_y, valid_y], axis=0)

In [107]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [10, 20, 30],
'min_samples_split': [2, 5, 10]}

rf = RandomForestClassifier(random_state=1)
rf_search = GridSearchCV(estimator=rf,
param_grid = param_grid,
cv=3,
scoring='f1_macro')

rf_search.fit(train_X_full, train_y_full)

print(rf_search.best_score_)

0.9460649058820315

In [109]:
# 테스트 데이터 활용 최종 예측
test_pred2 = rf_search.predict(test_X_preprocessed)
test_pred2 = pd.DataFrame(test_pred2, columns=['pred'])

test_pred.to_csv('result.csv', index=False)

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### 독립 표본 t 검정

In [111]:
# 샘플 데이터

import pandas as pd

sample = [9.76, 11.1, 10.7, 10.72, 11.8, 6.15, 10.52, 14.83, 13.03, 16.46, 10.84, 12.45]
gender = ['female'] * 7 + ['male'] * 5

my_tab2 = pd.DataFrame({"score": sample, "gender": gender})
print(my_tab2)

    score  gender
0    9.76  female
1   11.10  female
2   10.70  female
3   10.72  female
4   11.80  female
5    6.15  female
6   10.52  female
7   14.83    male
8   13.03    male
9   16.46    male
10  10.84    male
11  12.45    male

In [ ]:
from scipy.stats import ttest_ind

male = my_tab2[my_tab2['gender']=='male']
female = my_tab2[my_tab2['gender'] =='female']

# 단측 검정
t_statistic, p_value = ttest_ind(male['score'], female['score'], equal_var=True, alternative='greater') # 대립가설: 첫번째 집단이 두번째 집단보다 높다 / equal_var: 두 분산이 같다고 가정

print(t_statistic)
print(p_value)

2.9360367510416165
0.01488614765791557

#### 대응 표본 t-검정

In [117]:
import numpy as np
before = np.array([9.76, 11.1, 10.7, 10.72, 11.8, 6.15])
after = np.array([10.52, 14.83, 13.03, 16.46, 10.84, 12.45])

from scipy.stats import ttest_rel

# 단측 검정

t_statistic, p_value = ttest_rel(after, before, alternative = 'greater')
print(t_statistic)
print(p_value)

2.5811614301011883
0.02468128345546598

--------------------------------------------------------------------------------------------------------------------------------------------

#### 회귀 분석

In [121]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

# iris 데이터 로드
df_iris = load_iris()

iris = pd.DataFrame(data=df_iris.data, columns = df_iris.feature_names)
iris.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']

iris['species'] = df_iris.target

iris['species'] = iris['species'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [123]:
# formula api

import statsmodels.api as sm
import statsmodels.formula.api as smf

model = smf.ols("Petal_Length ~ Petal_Width + Sepal_Length", data=iris).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Petal_Length   R-squared:                       0.949
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     1354.
Date:                Fri, 20 Jun 2025   Prob (F-statistic):           2.01e-95
Time:                        19:21:42   Log-Likelihood:                -75.090
No. Observations:                 150   AIC:                             156.2
Df Residuals:                     147   BIC:                             165.2
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -1.5071      0.337     -4.473      0.000      -2.173      -0.841
Petal_Width      1.7481      0.075     23.205      0.000       1.599       1.897
Sepal_Length     0.5423      0.069      7.820      0.000       0.405       0.679
==============================================================================
Omnibus:                        1.243   Durbin-Watson:                   1.339
Prob(Omnibus):                  0.537   Jarque-Bera (JB):                0.840
Skew:                          -0.058   Prob(JB):                        0.657
Kurtosis:                       3.348   Cond. No.                         64.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [125]:
# 독립변수에 범주형이 잇는 경우

import statsmodels.formula.api as smf

model = smf.ols("Petal_Length ~ Petal_Width + Sepal_Length + C(species)", data=iris).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Petal_Length   R-squared:                       0.978
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                     1600.
Date:                Fri, 20 Jun 2025   Prob (F-statistic):          8.06e-119
Time:                        19:25:11   Log-Likelihood:                -11.867
No. Observations:                 150   AIC:                             33.73
Df Residuals:                     145   BIC:                             48.79
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -1.4596      0.224     -6.520      0.000      -1.902      -1.017
C(species)[T.versicolor]     1.7315      0.128     13.567      0.000       1.479       1.984
C(species)[T.virginica]      2.3047      0.198     11.617      0.000       1.913       2.697
Petal_Width                  0.5064      0.115      4.393      0.000       0.279       0.734
Sepal_Length                 0.5587      0.046     12.191      0.000       0.468       0.649
==============================================================================
Omnibus:                        1.189   Durbin-Watson:                   1.620
Prob(Omnibus):                  0.552   Jarque-Bera (JB):                0.786
Skew:                          -0.059   Prob(JB):                        0.675
Kurtosis:                       3.335   Cond. No.                         72.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [126]:
import pandas as pd
import numpy as np

# 예제 데이터

np.random.seed(42)
n_samples = 100
X = np.random.randn(n_samples, 5)
y = 3 * X[:, 0] + 2 * X[:, 1] + X[:, 2] + np.random.randn(n_samples)
df = pd.DataFrame(X, columns=['var1', 'var2', 'var3', 'var4', 'var5'])
df['target'] = y

df.head()

       var1      var2      var3      var4      var5    target
0  0.496714 -0.138264  0.647689  1.523030 -0.234153  2.787480
1 -0.234137  1.579213  0.767435 -0.469474  0.542560  5.132866
2 -0.463418 -0.465730  0.241962 -1.913280 -1.724918 -3.478318
3 -0.562288 -1.012831  0.314247 -0.908024 -1.412304 -2.835308
4  1.465649 -0.225776  0.067528 -1.424748 -0.544383  3.362279

In [ ]:
# 상관계수 계산
correlation_matrix = df.corr()
correlation_matrix

            var1      var2      var3      var4      var5    target
var1    1.000000 -0.163433  0.044866 -0.101832 -0.126184  0.687853
var2   -0.163433  1.000000  0.122764  0.038215  0.057155  0.501672
var3    0.044866  0.122764  1.000000  0.008525  0.042819  0.380061
var4   -0.101832  0.038215  0.008525  1.000000  0.018358 -0.010566
var5   -0.126184  0.057155  0.042819  0.018358  1.000000 -0.053834
target  0.687853  0.501672  0.380061 -0.010566 -0.053834  1.000000

In [128]:
target_corr = correlation_matrix['target'].drop('target')
max_corr_var = target_corr.abs().idxmax()
max_corr_value = target_corr.abs().max()
print(max_corr_var, max_corr_value)

var1 0.6878530699099606

In [130]:
import statsmodels.formula.api as smf

model = smf.ols("target ~ var1 + var2 + var3 + var4 + var5", data=df).fit()
model.rsquared

0.9352421506883442

In [133]:
model.pvalues

Intercept    1.238606e-01
var1         2.082619e-48
var2         5.193952e-39
var3         5.334408e-17
var4         1.020705e-01
var5         9.342725e-01
dtype: float64

--------------------------------------------------------------------------------------------------------------------------------------------

In [135]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_regression
import statsmodels.api as sm

X,y = make_regression(n_samples = 100, n_features = 3, noise = 0.1, random_state = 42)
df = pd.DataFrame(X, columns = [f'var{i}' for i in range(3)])
df['target'] = y

print(df.head())

       var0      var1      var2      target
0 -0.792521  0.504987 -0.114736   13.510026
1  0.280992 -0.208122 -0.622700  -18.777475
2  0.791032  1.402794 -0.909387  111.265809
3  0.625667 -1.070892 -0.857158  -77.989347
4 -0.342715 -0.161286 -0.802277  -35.951738

In [148]:
import statsmodels.formula.api as smf

model = smf.ols('target ~ var0 + var1 + var2', data=df).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.229e+07
Date:                Fri, 20 Jun 2025   Prob (F-statistic):          2.74e-280
Time:                        19:42:06   Log-Likelihood:                 88.956
No. Observations:                 100   AIC:                            -169.9
Df Residuals:                      96   BIC:                            -159.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0125      0.010      1.202      0.232      -0.008       0.033
var0          28.2046      0.012   2259.928      0.000      28.180      28.229
var1          75.0508      0.009   8061.284      0.000      75.032      75.069
var2          17.7545      0.011   1688.097      0.000      17.734      17.775
==============================================================================
Omnibus:                        1.438   Durbin-Watson:                   2.129
Prob(Omnibus):                  0.487   Jarque-Bera (JB):                1.487
Skew:                          -0.233   Prob(JB):                        0.475
Kurtosis:                       2.626   Cond. No.                         1.47
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [156]:
model.pvalues

Intercept     2.323302e-01
var0         1.162021e-228
var1         1.106258e-281
var2         1.689842e-216
dtype: float64

In [155]:
model.params['var1']

75.05077567876648

In [157]:
model.rsquared

0.9999985640975169

In [161]:
# 모델 predict

test_data = pd.DataFrame({'var0': [0.5], 'var1':[1.2], 'var2': [0.3]})
predict_values = model.predict(test_data)
predict_values

0    109.50207
dtype: float64

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### 로지스틱 회귀 분석

In [162]:
admission_data = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/admission.csv')
import statsmodels.api as sm
import statsmodels.formula.api as smf

admission_data['rank'] = admission_data['rank'].astype('category')
admission_data['gender'] = admission_data['gender'].astype('category')

In [163]:
model = smf.logit("admit ~ gre + gpa + rank + gender", data=admission_data).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.573066
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      393
Method:                           MLE   Df Model:                            6
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                 0.08305
Time:                        19:55:38   Log-Likelihood:                -229.23
converged:                       True   LL-Null:                       -249.99
Covariance Type:            nonrobust   LLR p-value:                 2.283e-07
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -3.9536      1.149     -3.442      0.001      -6.205      -1.702
rank[T.2]      -0.6723      0.317     -2.123      0.034      -1.293      -0.052
rank[T.3]      -1.3422      0.345     -3.887      0.000      -2.019      -0.665
rank[T.4]      -1.5529      0.418     -3.717      0.000      -2.372      -0.734
gender[T.M]    -0.0578      0.228     -0.254      0.800      -0.504       0.388
gre             0.0023      0.001      2.062      0.039       0.000       0.004
gpa             0.8032      0.332      2.420      0.016       0.153       1.454
===============================================================================

------------------------------------------------------------------------------------

In [165]:
import pandas as pd
import numpy as np

np.random.seed(42)
n_samples = 210
X = np.random.randn(n_samples, 4)
y = (X[:, 0] + X[:, 1] * 0.5 + np.random.randn(n_samples) * 0.5 > 0).astype(int)
df = pd.DataFrame(X, columns = ['weight', 'height', 'age', 'income'])
df['gender'] = y

print(df.head())

     weight    height       age    income  gender
0  0.496714 -0.138264  0.647689  1.523030       1
1 -0.234153 -0.234137  1.579213  0.767435       0
2 -0.469474  0.542560 -0.463418 -0.465730       0
3  0.241962 -1.913280 -1.724918 -0.562288       0
4 -1.012831  0.314247 -0.908024 -1.412304       0

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   weight  210 non-null    float64
 1   height  210 non-null    float64
 2   age     210 non-null    float64
 3   income  210 non-null    float64
 4   gender  210 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 8.3 KB

In [168]:
import statsmodels.formula.api as smf

model = smf.logit('gender ~ weight', data=df).fit()

print(model.summary())

Optimization terminated successfully.
         Current function value: 0.426786
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 gender   No. Observations:                  210
Model:                          Logit   Df Residuals:                      208
Method:                           MLE   Df Model:                            1
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                  0.3836
Time:                        20:03:23   Log-Likelihood:                -89.625
converged:                       True   LL-Null:                       -145.41
Covariance Type:            nonrobust   LLR p-value:                 4.445e-26
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2743      0.188      1.459      0.145      -0.094       0.643
weight         2.6078      0.361      7.229      0.000       1.901       3.315
==============================================================================

In [173]:
np.exp(model.params['weight'])

13.569314589014752

In [176]:
import statsmodels.formula.api as smf

model = smf.logit('gender ~ weight + height + age + income', data=df).fit()

print(model.summary())

Optimization terminated successfully.
         Current function value: 0.284256
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:                 gender   No. Observations:                  210
Model:                          Logit   Df Residuals:                      205
Method:                           MLE   Df Model:                            4
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                  0.5895
Time:                        20:07:33   Log-Likelihood:                -59.694
converged:                       True   LL-Null:                       -145.41
Covariance Type:            nonrobust   LLR p-value:                 5.161e-36
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6549      0.262      2.499      0.012       0.141       1.169
weight         4.0574      0.578      7.021      0.000       2.925       5.190
height         2.1131      0.372      5.677      0.000       1.384       2.843
age            0.2838      0.220      1.287      0.198      -0.148       0.716
income        -0.1859      0.243     -0.764      0.445      -0.662       0.291
==============================================================================

In [ ]:
 # residual deviance( 잔차 이탈도 )
 -2 * (model.llf)

119.38771008100466

In [182]:
df

       weight    height       age    income  gender
0    0.496714 -0.138264  0.647689  1.523030       1
1   -0.234153 -0.234137  1.579213  0.767435       0
2   -0.469474  0.542560 -0.463418 -0.465730       0
3    0.241962 -1.913280 -1.724918 -0.562288       0
4   -1.012831  0.314247 -0.908024 -1.412304       0
..        ...       ...       ...       ...     ...
205 -0.517288  1.409347  2.298898 -0.362839       1
206 -0.445503  1.453384  1.579572 -0.522860       1
207 -0.420187 -0.281785 -1.344451 -0.918652       0
208 -1.004141 -0.767798 -0.034685  0.234215       0
209  1.550500 -0.998354  0.984322 -0.213989       1

[210 rows x 5 columns]

In [222]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=90, random_state=42)

test_X = test.drop(columns = 'gender', axis=1)
test_y = test['gender']

model = smf.logit('gender ~ weight + height + age + income', data=train).fit()

Optimization terminated successfully.
         Current function value: 0.341305
         Iterations 8

In [224]:
print(model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                 gender   No. Observations:                  120
Model:                          Logit   Df Residuals:                      115
Method:                           MLE   Df Model:                            4
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                  0.5075
Time:                        20:28:00   Log-Likelihood:                -40.957
converged:                       True   LL-Null:                       -83.161
Covariance Type:            nonrobust   LLR p-value:                 2.025e-17
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5100      0.316      1.616      0.106      -0.109       1.129
weight         3.2469      0.595      5.457      0.000       2.081       4.413
height         2.0506      0.473      4.338      0.000       1.124       2.977
age            0.1321      0.261      0.507      0.612      -0.379       0.643
income        -0.2207      0.291     -0.759      0.448      -0.791       0.350
==============================================================================

In [215]:
model_predict = model.predict(test) > 0.5

In [216]:
from sklearn.metrics import accuracy_score

round(1- accuracy_score(test_y, model_predict), 4)

0.0778

----

In [241]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes

diabetes = load_diabetes(as_frame = True)
df = diabetes.frame
print(df.head())

        age       sex       bmi        bp        s1        s2        s3  \
0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
2  0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

         s4        s5        s6  target
0 -0.002592  0.019907 -0.017646   151.0
1 -0.039493 -0.068332 -0.092204    75.0
2 -0.002592  0.002861 -0.025930   141.0
3  0.034309  0.022688 -0.009362   206.0
4 -0.002592 -0.031988 -0.046641   135.0

In [242]:
df['target'] = (df['target'] > df['target'].quantile(0.5))
df['target'] = df['target'].astype(int)

In [246]:
import statsmodels.formula.api as smf

model = smf.logit('target ~ age + sex + bmi + bp', data=df).fit()

Optimization terminated successfully.
         Current function value: 0.543957
         Iterations 6

In [247]:
print(model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  442
Model:                          Logit   Df Residuals:                      437
Method:                           MLE   Df Model:                            4
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                  0.2152
Time:                        20:48:32   Log-Likelihood:                -240.43
converged:                       True   LL-Null:                       -306.37
Covariance Type:            nonrobust   LLR p-value:                 1.540e-27
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0462      0.112      0.413      0.680      -0.173       0.266
age            1.1309      2.524      0.448      0.654      -3.816       6.078
sex           -4.7679      2.449     -1.947      0.052      -9.567       0.032
bmi           21.1005      2.944      7.168      0.000      15.331      26.870
bp            12.9963      2.873      4.524      0.000       7.366      18.626
==============================================================================

In [252]:
# 유의하지 않은 변수 개수

model.pvalues[model.pvalues >= 0.05]

Intercept    0.679658
age          0.654140
sex          0.051523
dtype: float64

In [253]:
# 유의한 변수만 학습

import statsmodels.formula.api as smf

model = smf.logit('target ~ bmi + bp', data=df).fit()

Optimization terminated successfully.
         Current function value: 0.548382
         Iterations 6

In [260]:
model.rsquared

AttributeError: 'LogitResults' object has no attribute 'rsquared'

In [262]:
import statsmodels.formula.api as smf

model = smf.logit('target ~ age + sex + bmi + bp', data=df).fit()

print(model.summary())

Optimization terminated successfully.
         Current function value: 0.543957
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  442
Model:                          Logit   Df Residuals:                      437
Method:                           MLE   Df Model:                            4
Date:                Fri, 20 Jun 2025   Pseudo R-squ.:                  0.2152
Time:                        20:53:06   Log-Likelihood:                -240.43
converged:                       True   LL-Null:                       -306.37
Covariance Type:            nonrobust   LLR p-value:                 1.540e-27
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0462      0.112      0.413      0.680      -0.173       0.266
age            1.1309      2.524      0.448      0.654      -3.816       6.078
sex           -4.7679      2.449     -1.947      0.052      -9.567       0.032
bmi           21.1005      2.944      7.168      0.000      15.331      26.870
bp            12.9963      2.873      4.524      0.000       7.366      18.626
==============================================================================

In [267]:
np.exp(model.params['age'])

3.0983699232098245

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

data = scaler.fit_transform(dd)