### 날짜와 시간

In [ ]:
import pandas as pd

data = {
    'date': ['2024-01-01 12:34:56', '2024-02-01 23:45:01', '2024-03-01 06:07:08', '2021-04-01 14:15:16'],
    'value': [100, 201, 302, 404]
}

df = pd.DataFrame(data)

print(df.info())

# date컬럼 odject확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      object
 1   value   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes
None

In [3]:
# 문자열을 날짜 형식으로 변환

df['date'] = pd.to_datetime(df['date'])

print(df.head(2))
print(df.dtypes)

                 date  value
0 2024-01-01 12:34:56    100
1 2024-02-01 23:45:01    201
date     datetime64[ns]
value             int64
dtype: object

In [4]:
# to_datetime()은 비표준화 형식 날짜 문자열 경우 날짜 형식 자동 변환 x

pd.to_datetime('02-2024-01')

DateParseError: day is out of range for month: 02-2024-01, at position 0

In [5]:
# (format = '%m-%y-%d')로 형식 지정하여 해결 가능

pd.to_datetime('02-2024-01', format='%m-%Y-%d')

Timestamp('2024-02-01 00:00:00')

In [8]:
# 날짜에 한글을 포함하는 경우
pd.to_datetime('2024년 01월 01일', format='%Y년 %m월 %d일')

Timestamp('2024-01-01 00:00:00')

#### 날짜 정보 추출

In [14]:
# 연도 추출
df['year'] = df['date'].dt.year

# 월 추출
df['month'] = df['date'].dt.month

# 일 추출 
df['day'] = df['date'].dt.day
# 요일 추출 dt.day_name(), dt.weekday
# 시간 dt.hour
# 초 dt.second
# 년-월-일 dt.date

#### 날짜 연산

In [10]:
# 현재 날짜 생성
current_date = pd.to_datetime('2024-05-01')

# 날짜 차이 계산
df['days_diff'] = (current_date - df['date']).dt.days

print(df.head(2))

                 date  value  year  month  days_diff
0 2024-01-01 12:34:56    100  2024      1        120
1 2024-02-01 23:45:01    201  2024      2         89

#### 날짜 범위 생성

In [11]:
date_range = pd.date_range(start = '2021-01-01', end = '2021-01-10', freq = 'D')

print(date_range)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

#### 날짜 합치기

In [15]:
df['date2'] = pd.to_datetime(dict(year = df.year, month = df.month, day = df.day))

print(df[['date','date2']])

                 date      date2
0 2024-01-01 12:34:56 2024-01-01
1 2024-02-01 23:45:01 2024-02-01
2 2024-03-01 06:07:08 2024-03-01
3 2021-04-01 14:15:16 2021-04-01

#### 문자열 처리

In [ ]:
# 예제 데이터 생성

import pandas as pd

data = {
    '가전제품': ['냉장고', '세탁기', '전자레인지', '에어컨', '청소기'],
    '브랜드': ['LG', 'Samsung', 'Panasonic', 'Daikin', 'Dyson']
}

df = pd.DataFrame(data)

In [ ]:
# 문자열 길이 확인 # str.len()
df['제품명_길이'] = df['가전제품'].str.len()
df['브랜드_길이'] = df['브랜드'].str.len()

print(df.head(2))

  가전제품      브랜드  제품명_길이  브랜드_길이
0  냉장고       LG       3       2
1  세탁기  Samsung       3       7

In [21]:
# 문자열 대소문자 변환

df['브랜드_소문자'] = df['브랜드'].str.lower()
df['브랜드_대문자'] = df['브랜드'].str.upper()

print(df[['브랜드', '브랜드_소문자', '브랜드_대문자']])

         브랜드    브랜드_소문자    브랜드_대문자
0         LG         lg         LG
1    Samsung    samsung    SAMSUNG
2  Panasonic  panasonic  PANASONIC
3     Daikin     daikin     DAIKIN
4      Dyson      dyson      DYSON